.main{display:flex;flex-direction:column;text-align:center;position:relative;top:50px}
.form{display:flex;flex-direction:column;justify-content:center;align-items:center}
.label-date{margin-bottom:15px;font-size:1.4rem}